.CountriesCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #595858; */
    border-radius: 20px;
    margin: 40px 70px 50px 70px;
    padding: 20px;
    /* box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929; */
  }
  
  .title {
    font-size: 45px;
    color: rgb(0, 0, 0);
    text-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  