.container {
    background-image: url(backiee-109792-landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vw;
  }
  
  .error {
    color: red;
    font-size: 20px;
  }
  
  .deleteCountries h5 {
    color: #ffffff;
  }
  
  .deleteCountries button {
    padding: 3px;
    border: 1px solid white;
    border-radius: 6px;
    margin-bottom: 15px;
    color: red;
    font-size: 20px;
  }
  
  .container h1,
  label {
    color: #ffffff;
  }
  .container1 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  /* Input Name */
  .inputName {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .inputName input {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    margin: 10px;
    font-size: 16px;
    /* text-transform: uppercase; */
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .inputName input:hover {
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    border: 1px solid white;
  }
  
  /* Input Dificulty */
  
  .inputDificulty select {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    margin: 10px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .inputDificulty select:hover {
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    border: 1px solid white;
  }
  
  /* Input Duration */
  
  .inputDuration input {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .inputDuration input {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    margin: 10px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .inputDuration input:hover {
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    border: 1px solid white;
  }
  
  /* Input Season */
  
  .inputSeason select {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    margin: 10px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .inputSeason select:hover {
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    border: 1px solid white;
  }
  
  /* nput Country */
  
  .inputCountry select {
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    margin: 10px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .inputCountry select:hover {
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    border: 1px solid white;
  }
  
  /* Boton Back to home */
  .button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  button:hover {
    filter: brightness(110%);
  }
  
  button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  button:focus:not(:focus-visible) {
    outline: none;
  }
  
  /* Boton Crear actividad */
  
  .button2 {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
  }
  
  .shadow2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      rgb(13, 2, 84) 0%,
      rgb(11, 73, 232) 8%,
      rgb(8, 82, 220) 92%,
      rgb(2, 15, 114) 100%
    );
  }
  
  .front2 {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: rgb(3, 183, 248);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  button:hover {
    filter: brightness(110%);
  }
  
  button:hover .front2 {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  button:active .front2 {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  button:hover .shadow2 {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  button:active .shadow2 {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  button:focus:not(:focus-visible) {
    outline: none;
  }
  